/Data/Afecciones_a_edificaciones.csv
/Data/Enlaces de interés.docx
/Data/Evolucion_perimetros_coladas.xlsx
/Data/Movimientos_sismicos.csv
/Data/niveles dioxido de azufre.csv
/Data/numero empadronados afectados.csv
/Data/ozono.csv
/Data/ozono.xlsx
/Data/perimetro.csv
/Data/Registros_de_calidad_aire.csv
/Data/Tipo de edificaciones por municipio.csv
